@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

body {
    background-color: #130e26;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
}

li, a, button {
    font-family: "DM Mono", monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20%;
}

button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 9px 12px;
    background-color: #644EA0;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #8769d3;
}

.material-symbols-outlined {
    font-size: 18px;
    vertical-align: middle;
}

.logo_bar {
    width: 50px;
    height: auto;
    cursor: pointer;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 12px;
    transition: background-color 0.3s ease, padding 0.3s ease, border-radius 0.3s ease-out;
}

.nav_links li a:hover {
    background-color: #281d56;
    padding: 8px 12px;
    border-radius: 10px;
}

.landing_href {
    color: #130e26;
}

.setting_href {
    background-color: #281d56;
    border-radius: 100%;
    padding: 9px;
}

.account_ctrls {
    display: flex;
    align-items: center;
    gap: 10px;
}